.navbar{
    background-color: green;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a:hover {
    color: red;
}
    
.footer {
    background-color: rgb(214, 214, 214);
}